* {
	margin: 0px;
	padding: 0px;
}

.font-header {
	color: #000000;
	font-size: 20px;
}

.hero-image {
	width: 100%;
	height: 200px;
	border-radius: 10px;
}

.text-orange {
	color: #FE9903;
}

.text-semi-black {
	color:#333333;
	font-weight: 700px;
}

.text-gray-bold {
	color: #A4A4A4;
}

.text-gray-10 {
	color: #A4A4A4;
}

.text-gray-20 {
	color: #666666;
}

.bg-orange {
	background: #FE9903;
}

.font-weight-500 {
	font-weight: 500px;
}

.input-price {
	width: 100%;
	border: none;
	padding: 15px;
	border-radius: 5px;
	background: #F6F6F6;
}

.b-bottom {
	border-bottom: 10px solid #F3F3F3;
}

.dot {
	width: 30px;
	height: 30px;
}

.ring {
	border: 5px solid #f5b452;
}

.button {
	width: 100%;
	padding: 15px;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
	background: #FE9903;
}